.p{
    color: black;
    margin: 5px;
}
.navbar{
    height: 50px;
}
.quality-img{
    width: 100%;
}
.button1{
    height: 50px;
}
.button2{
    background-color:black;
  
}
.p-1{
    color:#c0c0c0;
    height: 50px;
}
.a{
    color: white;
   text-align:
}
.a-1{
    color: white;
}
.p1{
    color: white;
}